<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/dp/auth-dp.html">

<dom-module id="auth-dm">
  <template>
    <auth-dp id="authdp1" on-gtservice-success="onGtServiceSuccess"></auth-dp>
  </template>

  <script>

      class AuthDm extends Polymer.Element {
        static get is() {
          return 'auth-dm';
        }

        static get properties() {
          return {
            headerTitle: {
              type: String,
              value: 'This the login page!'
            },
            username: String,
            userpassword: String
          };
        }

        validateLogin(userId, pass) {
          console.log('clave dm: ' + pass);
          this.$.authdp1.ejecutar(userId, pass);
          console.log('LLamado ejecutar');
        }
        onGtServiceSuccess(e) {
          console.log('respuesta ok', e.detail.ok);
          if (e.detail.ok) {
            this.dispatchEvent(new CustomEvent('login-success'), {detail: true});
          } else {
            this.dispatchEvent(new CustomEvent('login-failed', {detail: false}));
          }
        }
      }
      window.customElements.define(AuthDm.is, AuthDm);
    
  </script>
</dom-module>
