<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/dp/product-dp.html">

<dom-module id="product-dm">
  <template>
      <product-dp id="dpproducts1"
      on-productsservice-success="onProductsServiceSuccess"></product-dp>
  </template>

  <script>

      class AuthDm extends Polymer.Element {
        static get is() {
          return 'product-dm';
        }

        static get properties() {
          return {
            cards: {
              type: Array,
              value: function() {
                return [];
              }
            }
          };
        }

        getUserProducts() {
          this.$.dpproducts1.ejecutar();
        }

        onProductsServiceSuccess(e) {
          console.log('e.detail: ', e.detail);
          if (e.detail !== null) {
            let products = e.detail.dataProducts;
            for (let x = 0; x < products.length; x++) {
              let datos = products[x];
              let product = {
                amount: {
                  label: datos.status.name,
                  amount: datos.availableBalance.currentBalances[0].amount,
                  currency: datos.availableBalance.currentBalances[0].currency
                },
                description: {
                  value: datos.number,
                  masked: true
                },
                cardType: datos.cardType.name,
                image: datos.image[0].url
              };
              this.cards.push(product);
            }
            this.dispatchEvent(new CustomEvent('getproducts-success', {detail: this.cards}));
          } else {
            this.dispatchEvent(new CustomEvent('getproducts-failed', {}));
          }
        }
      }
      window.customElements.define(ProductDm.is, ProductDm);

  </script>
</dom-module>
