<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<dom-module id="trabajo-poly-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <label for=""User>Usuario</label>
    <input type="text" name="" value="{{username::input}}">
    <label for="password">Contraseña</label>
    <input type="password" name="password" value="{{userpassword::input}}">
    <button on-click="hClick" type="button" name="button">Enviar</button>
    <auth-dm id="auth1" username="{{username}}" userpassword="{{userpassword}}" on-login-success="onloginSuccess" on-login-failed="onloginFailed"></auth-dm>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TrabajoPolyApp extends Polymer.Element {
      static get is() { return 'trabajo-poly-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'trabajo-poly-app'
          },
            username: String,
            userpassword: String
          };
        }

        onPageEnter() {
          console.log('Page loaded');
        }

        onPageLeave() {
          console.log('Page unloaded');
        }

        hClick(e) {
          this.username = e.detail.userId;
          this.userpassword = e.detail.password;
          this.$.auth1.validateLogin(this.username, this.userpassword);
        }
        onloginSuccess() {
          console.log('correcto ' + this.username + this.userpassword);
        }
        onloginFailed() {
          console.log('Error de autenticación');
        }
      }

    window.customElements.define(TrabajoPolyApp.is, TrabajoPolyApp);
  </script>
</dom-module>
