<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="auth-dp">

  <template>
      <iron-ajax
      id="ajax0"
      url= "{{url}}"
      method="post"
      handle-as= "json"
      last-response= "{{dataResponse}}"
      on-response= "handleResponse"
      content-type="application/json"
      body="{{bodyGt}}"
      on-error="onGtError">
      </iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AuthDp extends Polymer.Element {
      static get is() {
          return 'auth-dp';
        }

        static get properties() {
          return {
            tsec: Object,
            url: String,
            dataResponse: {
              type: Object
            },
            bodyGt: Object
          };
        }

        ejecutar(userId, pass) {
          console.log('clave: ' + pass);
          this.url = 'https://artichoke.platform.bbva.com/TechArchitecture/co/grantingTicket/V02';
          this.set('bodyGt', {
            'authentication': {
              'userID': 'CEDULA_CIUDADANIA' +userId,
              'consumerID': '10000033',
              'authenticationType': '02',
              'authenticationData': [
                {
                  'idAuthenticationData': 'password',
                  'authenticationData': [
                    pass
                  ]
                }
              ]
            },
            'backendUserRequest': {
              'userId': '',
              'accessCode': 'CEDULA_CIUDADANIA' + userId,
              'dialogId': ''
            }
          });
          this.$.ajax0.generateRequest();
        }

        handleResponse(e, request) {
          this.tsec = request.xhr.getResponseHeader('tsec');
          console.log('tsecheaders: ', this.tsec);
          console.log('getAllResponseHeaders: ', request.xhr.getAllResponseHeaders());
          sessionStorage.setItem('tsec', this.tsec);

          this.dispatchEvent(new CustomEvent('gtservice-success', {
            detail: {
              ok: true
            }
          }));
          console.log('GrantingService-Success: ', this.dataResponse);
        }
        onGtError(e) {
          console.log('Error en llamado GT: ', e.detail);
          this.dispatchEvent(new CustomEvent('gtservice-success', {
            detail: {
              ok: false
            }
          }));
        }
      }

    window.customElements.define(AuthDp.is, AuthDp);
  </script>
</dom-module>
