<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="./../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="product-dp">

  <template>
      <iron-ajax
      id="ajax3"
      url= "{{url}}"
      handle-as= "json"
      headers= "{{tsec}}"
      last-response= "{{dataResponse}}"
      on-response= "handleResponse">
      </iron-ajax>
  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class ProductDp extends Polymer.Element {
      static get is() {
          return 'product-dp';
        }

        static get properties() {
          return {
            tsec: Object,
            url: String,
            dataResponse: {
              type: Object,
              value: function() {
                return [];
              }
            }
          };
        }

        ejecutar() {
          this.url = 'https://artichoke.platform.bbva.com/cards/v0/cards';
          this.set('tsec', {tsec: sessionStorage.getItem('tsec')});
          console.log('inicio ejecución. Url: ' + this.$.ajax3.url);
          console.log('Headers: ' + this.$.ajax3.headers);
          this.$.ajax3.generateRequest();
          console.log('fin ejecución: ', this.$.ajax3);
        }

        handleResponse() {
          console.log('dataResponse', this.dataResponse.data);
          this.dispatchEvent(new CustomEvent('productsservice-success', {detail: {
            dataProducts:this.dataResponse.data
          }}));
        }
      }

    window.customElements.define(ProductDp.is, ProductDp);
  </script>
</dom-module>
